@font-face {
    font-family: 'qumpellka';
    src: url('../fonts/qumpellka.otf');
}


/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/**            COVER PAGE LADING
 * --------------------------------------- */

.cover-loading-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    display: block;
    position: fixed;
    font-family: qumpellka;
   /* background-image: url(../img/loading-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

.title-cover-loading {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 100px;
    color: #5a5959;
    top: 30%;
    position: absolute;
    text-shadow: 6px 6px 0px rgba(125, 119, 119, 0.45);
}

.cover-loading-page h1 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 6vh;
    color: #333;
    opacity: .75;
    animation: pulse 2.5s linear infinite;
}

.spinner div {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 50%;
    background-color: #66BB6A;
    border-radius: 50%;
    animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
  }
  .spinner div:nth-child(2) {
    animation-delay: 150ms;
  }
  .spinner div:nth-child(3) {
    animation-delay: 300ms;
  }
  .spinner div:nth-child(4) {
    animation-delay: 450ms;
  }
  @keyframes move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:100%;}
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1, 1);
      opacity: .25;
    }
    50% {
      transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: .25;
    }
  }
  



/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
}


/** Menu fullpage
 * -------------------------------------- */

label .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    transition: .5s ease-in-out;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked+.menu+ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .25s 0s ease-in-out;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
}

.item-menu a {
    font-family: 'qumpellka', serif;
    font-size: 30px;
}

.item-menu a:hover {
    text-decoration: underline;
}


/* Sections
* --------------------------------------- */

.section {
    background-size: cover;
}

#section0 img,
#section1 img {
    margin: 20px 0 0 0;
}

#section3 img {
    bottom: 0px;
    position: absolute;
    margin-left: -420px;
}

.section-main {
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden;
    border: 1px solid white;
}


/* Thin scroll-bar to match the rest of the theme */

.section-main::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}


/* Track */

.section-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.3);
    background: white;
    cursor: pointer;
}


/* Handle */

.section-main::-webkit-scrollbar-thumb {
    background: #66BB6A;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
}

.section-main::-webkit-scrollbar-thumb:window-inactive {
    background: #66BB6A;
    cursor: pointer;
}


/**       ANIMATED     
 * ---------------------------------------------- */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}


/**
 Section 0 - HOME
 ---------------------------------------- */

.sandbox-correct-pronounciation {
    padding: 5em 0 5em 0;
}

.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
}

.heading {
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
}

.subheading{
    color: #fff;
    margin-top: 2%;
    font-family: 'qumpellka', serif;
}

em {
    font-family: 'qumpellka', serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

em::before,
em::after {
    content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
}

#home-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /*filter: grayscale(1);*/
}

.title-content-home {
    z-index: 5;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+13,1+34,1+68,0+91 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */
}

.title-content-home h1 {
    color: #fff;
}

  #section0 a {
    padding-top: 70px;
  }
  #section0 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  .arrow-down{
    position: relative;
    color: #fff;
    bottom: 0;
    top: 20%;
  }

  #section2 a {
    padding-top: 70px;
  }
  #section2 a span {
    position: absolute;
    left: 2%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  #section2 a .up {
    position: absolute;
    left: 2%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    -webkit-animation: sdb05up 1.5s infinite;
    animation: sdb05up 1.5s infinite;
    box-sizing: border-box;
  }
  .arrow-gallery-up{
    position: relative;
    color: #000;
    bottom: 0;
    top: 50px;
    right: 0;
  }
  .arrow-gallery-down{
    position: relative;
    color: #000;
    bottom: 0;
    top: -50px;
    right: 0;
  }

  #section1 a {
    padding-top: 70px;
  }
  #section1 a span {
    position: absolute;
    left: 10%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  #section1 a .up {
    position: absolute;
    left: 10%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    -webkit-animation: sdb05up 1.5s infinite;
    animation: sdb05up 1.5s infinite;
    box-sizing: border-box;
  }

  .arrow-menu{
      display: none;
      z-index: 2;
  }

  .arrow-menu-up{
    position: relative;
    color: #000;
    bottom: 0;
    top: 50px;
    right: 0;
  }
  .arrow-menu-down{
    position: relative;
    color: #000;
    bottom: 0;
    top: -80px;
    right: 0;
  }
  
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @-webkit-keyframes sdb05up {
    0% {
      -webkit-transform: rotate(-225deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-225deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05up {
    0% {
      transform: rotate(-225deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-225deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  


/** Section 1 - MENU
 * ------------------------------------------- */

#section1 {
    background-image: url(../img/seigaiha.png)
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #93979a transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #93979a;
}

.letter {
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    margin: 0.2em;
    position: relative;
    color: #66BB6A;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.letter:before,
.letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter,
.letter:before,
.letter:after {
    transition: all 0.3s ease-in-out;
}

.letter:before {
    color: #fff;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, .8), 1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
    color: #fafafa;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

.intro h1 {
    font-family: 'qumpellka', serif;
    font-size: 60px;
}

.intro-menu {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
}

.section-menu {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.section-menu-grid {
    position: relative;
    float: left;
    width: 33%;
    height: 300px;
}

.section-menu ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.section-menu ol li {
    width: 100%;
    height: 25px;
}

.section-menu-grid ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.section-menu-grid ol li {
    width: 100%;
    height: 25px;
}

.slider-selector {
    cursor: pointer;
}

.slider-selector:hover {
    color: #66BB6A;
}

.content-options-menu {
    top: 20%;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.middle-menu {
    top: 10%;
}

.large-menu {
    top: 5%;
}

.section-menu h2 {
    font-family: 'qumpellka', serif;
    font-size: 30px;
    margin: 5%;
    color: #66BB6A;
}

.section-menu-grid h2 {
    font-family: 'qumpellka', serif;
    font-size: 30px;
    margin: 5%;
    color: #66BB6A;
}

.section-right {
    float: right;
}

.section-center {
    text-align: center;
    margin: auto;
    float: none;
}

.note-include {
    font-size: 12px;
}

.separator-saucer,
.bottle-name {
    color: #000;
}

.saucer-name,
.type-bottle {
    float: left;
}

.saucer-price,
.bottle-price {
    float: right;
}

.li-bottles {
    height: 70px !important;
}

.type-bottle,
.bottle-price {
    width: 50%;
}

.bottle-price {
    text-align: right;
}


/** buffet
 *------------------------------------------------------------------ */

#section3 {
    background-image: url("../img/buffete-background.jpg");
}

.panel-content-blur {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #ffe4f7ad;
    margin: auto;
    background-image: url(../img/buffete-background.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    /*filter: blur(100px);*/
    filter: blur(20px);
    color: #ffffff;
}

.intro-buffet {
    width: 80%;
    margin: auto;
    position: relative;
    color: #fff;
}

.title-section-buffet{
    color: #66BB6A;
    font-size: 90px;
}

.subtitle-buffet {
    font-size: 25px;
    height: 100px;
    line-height: 100px;
    color: #fff;
}

.available-schedules {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    position: relative;
    display: block;
}

.days-available {
    height: 80px;
    font-size: 30px;
    color: #e85b15;
    line-height: 80px;
    text-align: center;
}

.price-buffet {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    color: #fff;
}

.price-buffet ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.price-buffet ol li {
    width: 100%;
    height: 25px;
}

.hours-available {
    width: 50%;
    position: relative;
    height: 100%;
    float: right;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}


/** ******************************************
        Section - GALLERY
  * ******************************************* */

.title-gallery {
    margin-bottom: 20px;
}

.content-inside-section-gallery {
    width: 90%;
    margin: auto;
    overflow-y: auto;
    background-image: url("../img/dark_wood.png");
    overflow-x: hidden;
}

.boardz img {
    max-width: 100%;
    height: auto;
}

.content-img-select {
    width: 80%;
    height: 80%;
    background-color: transparent;
    margin: auto;
}


/* Style the Image Used to Trigger the Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    z-index: 108;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    height: 100%;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/**               MAPS
 * ------------------------------------------------ */

.intro-maps {
    width: 30%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
    display: block;
    z-index: 1;
    background-color: #fff;
    padding: 3%;
    box-shadow: 5px 5px 20px 0px;
}

.intro-maps h1 {
    font-size: 50px;
}

#map {
    width: 100%;
    height: 100%;
}

.direction {
    font-size: 25px;
    margin-top: 5%;
}

.phone {
    margin-top: 15px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Styles */
    .cover-loading-page h1 {
        width: 80% !important;
    }

    /*#cooking {
        width: 100% !important;
    }

    #cooking #area {
        right: 10% !important;
    }*/

    .heading {
        font-size: .5em !important;
    }

    label .menu {
        right: -120px;
        top: -120px;
    }

    label .hamburger {
        top: 150px;
        left: 40px;
    }

    .title-content-home {
        height: 100%;
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c0c0c+50,000000+100&0+0,0.6+11,1+37,1+68,0.48+91,0+100 */
        background: -moz-linear-gradient(top, rgba(12,12,12,0) 0%, rgba(12,12,12,0.6) 11%, rgba(12,12,12,1) 37%, rgba(12,12,12,1) 50%, rgba(8,8,8,1) 68%, rgba(2,2,2,0.48) 91%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(12,12,12,0) 0%,rgba(12,12,12,0.6) 11%,rgba(12,12,12,1) 37%,rgba(12,12,12,1) 50%,rgba(8,8,8,1) 68%,rgba(2,2,2,0.48) 91%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(12,12,12,0) 0%,rgba(12,12,12,0.6) 11%,rgba(12,12,12,1) 37%,rgba(12,12,12,1) 50%,rgba(8,8,8,1) 68%,rgba(2,2,2,0.48) 91%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c0c0c', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }

    .sandbox-correct-pronounciation {
        height: 100%;
    }    
    
    .heading {
        top: 50%;
    }

    .subheading {
        margin-top: 80%;
    }

    .letter{
        font-size: 3em;
    }

    .slider-selector {  
        display: block;
    }

    .fa{
        display: none;
    }

    .intro-menu {
        width: 100%;
        height: 80%;
    }

    .intro h1 {
        font-size: 25px;
    }

    .note-include {
        font-size: 12px;
    }

    .content-options-menu {
        width: 95%;
        height: 360px;
        overflow: auto;
        margin: auto;
        top: 5%;
    }

    .section-menu {
        float: left;
        width: 100%;
        height: auto;
    }

    .section-menu-grid {
        float: left;
        width: 100%;
        height: auto;
    }

    .section-menu ol {
        font-size: 100%;
    }

    .section-menu ol li {
        width: 100%;
        height: 20px;
    }

    .section-menu-grid ol {
        font-size: 100%;
    }

    .section-menu-grid ol li {
        width: 100%;
        height: 20px;
    }

    .saucer-name, .type-bottle {
        font-size: 12px;
    }

    .fp-controlArrow.fp-prev {
        left: 70%;
        top: 90%;
    }

    .fp-controlArrow.fp-next {
        top: 90%;
    }

    #section2 a {
        padding-top: 15px;
    }

    #section2 a .up {
        left: 10%;
    }
    #section2 a span {
        left: 10%;
    }
    .content--center {
        height: 430px;
    }
    .arrow-gallery-down {
        top: -20px;
    }
    .arrow-gallery-up {
        top: 0;
    }
    .section-main {
        padding-right: 0;
    }
    .panel-content-blur {
        height: 70%;
        top: 15%;
        filter: blur(5px);
    }
    .intro-buffet {
        width: 80%;
        margin: auto;
        position: relative;
        color: #fff;
    }
    .title-section-buffet{
        font-size: 35px;
    }
    .subtitle-buffet {
        font-size: 20px;
        height: auto;
        line-height: 30px;
    }
    .price-buffet {
        width: 100%;
    }
    .days-available {
        height: auto;
        font-size: 30px;
        line-height: 35px;
    }
    .available-schedules .saucer-name{
        font-size: 15px;
    }

    .hours-available {
        width: 100%;
    }

    .intro-maps {
        width: 80%;
        top: 65%;
        left: 0;
        bottom: 0;
    }

    .direction {
        font-size: 20px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
    /* Styles */
    .intro-menu {
        width: 100%;
        height: 80%;
    }

    .intro h1 {
        font-size: 25px;
    }

    .note-include {
        font-size: 12px;
    }

    .content-options-menu {
        width: 85%;
        height: 360px;
        overflow: auto;
        margin: auto;
        top: 5%;
    }

    .section-menu {
        float: none;
        width: 80%;
        height: auto;
        margin: auto;
    }

    .section-menu-grid {
        float: left;
        width: 100%;
        height: auto;
    }

    .section-menu ol {
        font-size: 100%;
    }

    .section-menu ol li {
        width: 100%;
        height: 20px;
    }

    .section-menu-grid ol {
        font-size: 100%;
    }

    .section-menu-grid ol li {
        width: 100%;
        height: 20px;
    }

    .saucer-name, .type-bottle {
        font-size: 12px;
    }

    .panel-content-blur {
        height: 70%;
        top: 20%;
        filter: blur(10px);
    }

    .subtitle-buffet {
        height: auto;
        line-height: 2;
    }

    .intro-maps {
        width: 45%;
        top: 60%;
        left: 1%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}