@font-face {
    font-family: 'qumpellka';
    src: url('../fonts/qumpellka.otf');
}

/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/**            COVER PAGE LADING
 * --------------------------------------- */

.cover-loading-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    display: block;
    position: fixed;
    font-family: qumpellka;
    background-image: url(../img/loading-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-cover-loading {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 100px;
    color: #5a5959;
    top: 30%;
    position: absolute;
    text-shadow: 6px 6px 0px rgba(125, 119, 119, 0.45);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    top: 50%;
    left: 50%;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid seagreen;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
}

/** Menu fullpage
 * -------------------------------------- */

label .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    transition: .5s ease-in-out;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked+.menu+ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .25s 0s ease-in-out;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
}

.item-menu a {
    font-family: 'qumpellka', serif;
    font-size: 30px;
}

.item-menu a:hover {
    text-decoration: underline;
}

/* Sections
* --------------------------------------- */

.section {
    background-size: cover;
}

#section0 img,
#section1 img {
    margin: 20px 0 0 0;
}

#section3 img {
    bottom: 0px;
    position: absolute;
    margin-left: -420px;
}

.section-main {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
    color: white;
    padding-right: 10px;
    overflow-x: hidden;
    border: 1px solid white;
}

/* Thin scroll-bar to match the rest of the theme */

.section-main::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

/* Track */

.section-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.3);
    background: white;
    cursor: pointer;
}

/* Handle */

.section-main::-webkit-scrollbar-thumb {
    background: seagreen;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
}

.section-main::-webkit-scrollbar-thumb:window-inactive {
    background: seagreen;
    cursor: pointer;
}

/**       ANIMATED     
 * ---------------------------------------------- */

 .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
 @-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }

/**
 Section 0 - HOME
 ---------------------------------------- */

.sandbox-correct-pronounciation {
    padding: 5em 0 5em 0;
}

.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
}

.heading {
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
}

em {
    font-family: 'qumpellka', serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

em::before,
em::after {
    content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
}

#home-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /*filter: grayscale(1);*/
}

.title-content-home {
    z-index: 5;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+13,1+34,1+68,0+91 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */
}

.title-content-home h1 {
    color: #fff;
}

/** Section 1 - MENU
 * ------------------------------------------- */

#section1 {
    background-image: url(../img/seigaiha.png)
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #93979a transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #93979a;
}

.letter {
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    margin: 0.2em;
    position: relative;
    color: seagreen;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.letter:before,
.letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter,
.letter:before,
.letter:after {
    transition: all 0.3s ease-in-out;
}

.letter:before {
    color: #fff;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, .8), 1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
    color: #fafafa;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

.intro h1 {
    font-family: 'qumpellka', serif;
    font-size: 60px;
}

.intro-menu {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
}

.section-menu {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.section-menu-grid {
    position: relative;
    float: left;
    width: 33%;
    height: 300px;
}

.section-menu ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.section-menu ol li {
    width: 100%;
    height: 25px;
}

.section-menu-grid ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.section-menu-grid ol li {
    width: 100%;
    height: 25px;
}

.slider-selector {
    cursor: pointer;
}

.slider-selector:hover {
    color: seagreen;
}

.content-options-menu {
    top: 20%;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.middle-menu {
    top: 10%;
}

.large-menu {
    top: 5%;
}

.section-menu h2 {
    font-family: 'qumpellka', serif;
    font-size: 30px;
    margin: 5%;
    color: seagreen;
}

.section-menu-grid h2 {
    font-family: 'qumpellka', serif;
    font-size: 30px;
    margin: 5%;
    color: seagreen;
}

.section-right {
    float: right;
}

.section-center {
    text-align: center;
    margin: auto;
    float: none;
}

.note-include {
    font-size: 12px;
}

.separator-saucer,
.bottle-name {
    color: #000;
}

.saucer-name,
.type-bottle {
    float: left;
}

.saucer-price,
.bottle-price {
    float: right;
}

.li-bottles {
    height: 70px !important;
}

.type-bottle,
.bottle-price {
    width: 50%;
}

.bottle-price {
    text-align: right;
}

/** buffet
 *------------------------------------------------------------------ */

#section3 {
    background-image: url("../img/breakfast-buffet.jpeg");
}

.panel-content-blur {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #ffe4f7ad;
    margin: auto;
    background-image: url(../img/breakfast-buffet.jpeg);
    background-size: cover;
    background-position: center;
    display: block;
    /*filter: blur(100px);*/
    filter: blur(5px);
}

.intro-buffet {
    width: 80%;
    margin: auto;
    position: relative;
}

.subtitle-buffet {
    font-size: 25px;
    height: 100px;
    line-height: 100px;
    color: #000;
}

.available-schedules {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    position: relative;
    display: block;
}

.days-available {
    height: 80px;
    font-size: 30px;
    color: #e85b15;
    line-height: 80px;
    text-align: center;
}

.price-buffet {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    color: #000;
}

.price-buffet ol {
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

.price-buffet ol li {
    width: 100%;
    height: 25px;
}

.hours-available {
    width: 50%;
    position: relative;
    height: 100%;
    float: right;
    font-size: 20px;
    line-height: 40px;
    color: #000;
}

/** ******************************************
        Section - GALLERY
  * ******************************************* */

.title-gallery {
    margin-bottom: 5%;
}

.content-inside-section-gallery {
    width: 90%;
    margin: auto;
    overflow-y: auto;
    background-image: url("../img/dark_wood.png");
    overflow-x: hidden;
}

.boardz img {
    max-width: 100%;
    height: auto;
}

.content-img-select {
    width: 80%;
    height: 80%;
    background-color: transparent;
    margin: auto;
}

/* Style the Image Used to Trigger the Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    z-index: 108;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    height: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}